---
apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: https://{{ grafana_prometheus_target_host }}:{{ prometheus_listen_port }}
    isDefault: true
    editable: false
    jsonData:
      httpMethod: GET
      tlsAuth: true
      tlsAuthWithCACert: true
    secureJsonData:
      tlsCACert: |
        {{ _grafana_ca_cert.content | b64decode | indent(8) }}
      tlsClientCert: |
        {{ _grafana_client_cert.content | b64decode | indent(8) }}
      tlsClientKey: |
        {{ _grafana_client_key.content | b64decode | indent(8) }}
