---
apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: https://{{ prometheus_target_host }}:{{ prometheus_listen_port }}
    isDefault: true
    editable: false
    jsonData:
      httpMethod: GET
      tlsAuth: true
      tlsAuthWithCACert: true
      tlsCACertFile: "{{ tls_ca_cert }}"
      tlsClientCertFile: "{{ fr_tls_dir }}/grafana/cert.pem"
      tlsClientKeyFile: "{{ fr_tls_dir }}/grafana/key.pem"
